.hero-section {
    background-image: url('../assets/media/startup.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    color: hsl(0, 0%, 100%);
    min-height: 80vh;
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .hero-description {
    font-size: 1.25rem;
    margin-top: 20px;
  }
  
  .hero-btn {
    background-color: #ff5722;
    border-radius: 30px;
    padding: 10px 30px;
    color: #fff;
    margin-top: 20px;
  }
  
  .hero-btn:hover {
    background-color: #ff3d00;
  }
  